<ion-header>
  <ion-toolbar>
    <ion-title>checkout</ion-title>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/tabs/tab1"></ion-back-button> -->
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="order">
    <div class="address_list">

      <ion-list *ngIf="userinfo" lines="none">
        <ion-item [routerLink]="['/addresslist']" *ngIf="!addressList">
          <ion-icon slot="start" name="pin" color="light"></ion-icon>
          Please add your pickup address
        </ion-item>

        <ion-item [routerLink]="['/addresslist']" *ngIf="addressList">
          <ion-label>
            <h2>{{addressList.name}} {{addressList.phone}}</h2>
            <p>{{addressList.address}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="!userinfo" lines="none" class="nologin">
        <ion-item>
          <ion-label>
            <p>Please Login...</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-button color="light" [routerLink]="['/login']" [queryParams]="{returnUrl:'/checkout'}">
            Login
          </ion-button>
        </ion-item>

      </ion-list>

    </div>

    <div class="product_list">

      <ion-list lines="none">
        <ion-item *ngFor="let item of productList">
          <ion-thumbnail slot="start">
            <img [src]="config.domain+item.product_pic" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{item.product_title}}</h2>
            <p><span class="price">¥{{item.product_price}}</span> <span class="count">x{{item.product_count}}</span></p>

            <p>Features & details：{{item.product_attr}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

    </div>

    <div class="order_info">
      <ion-list lines="none">
        <ion-item>
          <ul>
            <li>Online Pay</li>
            <li>DHL </li>
            <li>Delivery in 2-3 days</li>
          </ul>
        </ion-item>

        <ion-item-divider>
        </ion-item-divider>

        <ion-item class="order_price">
          <ul>
            <li>Sum <span>¥124214</span></li>
            <li>Discount <span>-¥5</span></li>
            <li>Delivery fee <span>+¥0</span></li>
          </ul>
        </ion-item>
        <ion-item-divider>
        </ion-item-divider>
        <ion-item>
          <ion-input placeholder="Optional : Write to seller"></ion-input>
        </ion-item>
        <ion-item-divider>
        </ion-item-divider>
      </ion-list>
    </div>
  </div>

</ion-content>



<ion-footer>
  <ion-toolbar>
    <span slot="start">Total: <span class="price"> ＄{{allPrice}}</span></span>

    <ion-buttons slot="end">
      <ion-button color="danger" fill="solid" (click)="doOrder()">
        Buy now
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>