.user_top {
  background: url("/assets/user_bg.jpg");
  color: white;
  padding: 3rem 1rem;
  display: flex;
  align-items: center;
  position: relative;

  .setting {
    position: absolute;
    top: 2px;
    right: 2px;
  }
  .user_left {
    width: 5rem;
    img {
      width: 5rem;
      height: 5rem;
      border-radius: 5rem;
    }
  }
  .user_right {
    flex: 1;
    padding-left: 1rem;
    font-size: 1.6rem;
    ion-icon {
      position: relative;
      top: 0.3rem;
    }
  }
}
.user_list {
  ion-label {
    font-size: 1.8rem;
  }
}

ion-item-divider {
  min-height: 1rem; // 用height沒效果
}
