.login_toolbar {
  --border-color: #fff;
  span {
    font-size: 1.4rem;
  }
}
.login_logo {
  text-align: center;
  padding: 1.5rem;
  img {
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 30%;
    border-radius: 10rem;
    border: 1px solid #eeeeee;
  }
}
.login_list {
  input,
  span {
    font-size: 1.4rem;
  }
}
