.sub_toolbar {
  --min-height: 3rem;
  .subheader {
    border-top: 1px solid #eee;
    height: 3rem;
    display: flex;
    align-items: center;
  }
  div {
    flex: 1;
    text-align: center;
    font-size: 1.6rem;
  }
}

.active {
  color: red;
}
